.serie-container {
    height: auto;
    width: 100%;
    margin-bottom: 70px;
    padding: 40px;
    background-color: black;
    color: white;
}

.season-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
