@if (movie) {
    <mat-card class="m-2" (click)="onClick(movie.id)" style="cursor: pointer;">
        <img [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" style="width: auto; height: auto;">
        <div class="movie-info">
            <h4 style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{movie.title}}</h4>
            <p>Original Language: {{movie.original_language}}</p>
        </div>
    </mat-card>
} @else if (serie) {
    <mat-card class="m-2" (click)="onClick(serie.id)" style="cursor: pointer;">
        <img [src]="'https://image.tmdb.org/t/p/w500/' + serie.poster_path" style="width: auto; height: auto;">
        <div class="movie-info">
            <h4 style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{serie.name}}</h4>
            <p>Original Language: {{serie.original_language}}</p>
        </div>
    </mat-card>
}




    
